<div id="<%= dom_id product %>">
  <p>
    <strong>Nome:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= client.address %>
  </p>

</div>
