<p style="color: green"><%= notice %></p>

<%= form_tag(clients_path, method: :get) do %>
  <%= text_field_tag 'search', nil, placeholder: 'Digite o nome do cliente' %>
  <%= submit_tag "Pesquisar" %>
<% end %>

<h1>CLIENTES</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td> <%=client.name%> </td>
      <td> <%=client.email%> </td>
      <td> <%=client.phone%> </td>
      <td> <%=client.address%> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New client", new_client_path %>

