<div class="container">
  <%= form_with(model: product) do |form| %>

  <% if product.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <form>
      <div class="py-1">
        <%= form.label t(:code), class: "form-label" %>
        <%= form.text_field :code, class: "form-control" %>
      </div>

      <div class="py-1">
        <%= form.label t(:name), class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="py-1 row">
        <div class="col">
          <%= form.label t(:price), class: "form-label" %>
          <%= form.text_field :price, class: "form-control" %>
        </div>
        <div class="col">
          <%= form.label t(:quantity), class: "form-label" %>
          <%= form.text_field :quantity, class: "form-control" %>
        </div>
      </div>

      <div class="py-1">
        <%= form.label t(:category), class: "form-label" %>
        <%= form.select :category_id, Category.pluck(:name, :id), {include_blank: true}, class: "form-control" %>
      </div>
      
      <div class="py-2">
        <% if product.id %>
          <%= form.submit "Editar", class: "btn btn-primary" %>
        <% else %>
          <%= form.submit "Cadastrar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </form>
  <% end %>
</div>
