<p style="color: green"><%= notice %></p>

<div class="container mb-4" id="clients">

  <div>
  <%= form_tag(products_path, method: :get) do %>
      <%= text_field_tag 'search', nil, placeholder: 'Digite o nome do produtio', class: "form-control w-25" %>
      <%= submit_tag "Pesquisar", class: "btn btn-primary mt-2" %>
  <% end %>
  </div>

  <div class="mt-3 mb-3 p-3 card shadow">
    <h1 class="text-center">PRODUTOS</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="table-primary">Código</th>
          <th class="table-primary">Nome</th>
          <th class="table-primary">Preço</th>
          <th class="table-primary">Quantidade</th>
          <th class="table-primary">Categoria</th>
          <th class="table-primary"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td> <%=product.code%> </td>
          <td> <%=product.name%> </td>
          <td> <%=product.price%> </td>
          <td> <%=product.quantity%> </td>
          <td> <%=product.category%> </td>
          <td class="pe-0">
            <div class="d-flex justify-content-end">
              <%= button_to "Editar", edit_product_path(product), method: :get, class: "btn btn-primary d-inline-block me-2" %>
              <%= button_to "Deletar", product_path(product.id), method: :delete, class: "btn btn-danger d-inline-block" %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to "Novo produto", new_product_path, method: :get, class: "btn btn-primary"%>
  </div>
</div>