<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Início", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Usuários</a>
        </li>
        <li class="nav-item">
          <%= link_to "Clientes", clients_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Produtos",  products_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to("Sair", destroy_user_session_path, method: :delete, class: "nav-link")%>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path, class: "nav-link"%>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>



<div class="container mb-4" id="clients">
  <h1 class="text-center">PRODUTOS</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-primary" scope="col">Código</th>
        <th class="table-primary" scope="col">Nome</th>
        <th class="table-primary" scope="col">Preço</th>
        <th class="table-primary" scope="col">Quantidade</th>
        <th class="table-primary" scope="col">Categoria</th>
        <th class="table-primary" scope="col">Botoes</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <th scope="row"> <%=product.code%> </th>
        <td> <%=product.name%> </td>
        <td> <%=product.price%> </td>
        <td> <%=product.quantity%> </td>
        <td> <%=product.category%> </td>
        <td>
          <%= button_to "Editar", edit_product_path(product), method: :get, class: "btn btn-primary" %>
          <%= button_to "Deletar", product_path(product.id), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to "Novo produto", new_product_path, method: :get, class: "btn btn-primary"%>
</div>


